GASB.Client/Connected Services/ServiceReference1/PrimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrimeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62136/PrimeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62136/PrimeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrimeService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPrimeService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimeService_GetJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJob" />
  </wsdl:message>
  <wsdl:message name="IPrimeService_GetJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimeService_SaveResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveResult" />
  </wsdl:message>
  <wsdl:message name="IPrimeService_SaveResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrimeService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimeService/Register" message="tns:IPrimeService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimeService/RegisterResponse" message="tns:IPrimeService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimeService/GetJob" message="tns:IPrimeService_GetJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimeService/GetJobResponse" message="tns:IPrimeService_GetJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimeService/SaveResult" message="tns:IPrimeService_SaveResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimeService/SaveResultResponse" message="tns:IPrimeService_SaveResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrimeService" type="tns:IPrimeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IPrimeService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJob">
      <soap:operation soapAction="http://tempuri.org/IPrimeService/GetJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveResult">
      <soap:operation soapAction="http://tempuri.org/IPrimeService/SaveResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrimeService">
    <wsdl:port name="BasicHttpBinding_IPrimeService" binding="tns:BasicHttpBinding_IPrimeService">
      <soap:address location="http://localhost:62136/PrimeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>